/* ------------------------------
Code for general properties
--------------------------------- */
.mainContainer {
    margin-top: 70px;
    
}

.mainHeading {
    color: #170303;
    padding: 20px 20px;
    text-align: center;
}
body{
    background:url(panels/simple_grid.jpeg);
    background-size: auto;
}
/*---------------------------
Swiper Button Properties
----------------------------*/
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    /*border-radius: 50%;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 50%;
    padding: 20px 30px;
    z-index: 10;
}

/* Default for small screens */
.mySwiper .swiper-button-prev {
    left: 10%;
}
.mySwiper .swiper-button-next {
    right: 10%;
}

/* Medium screens */
@media (min-width: 768px) {
    .mySwiper .swiper-button-prev {
        left: 100px;
    }
    .mySwiper .swiper-button-next {
        right: 100px;
    }
}

/* Large screens */
@media (min-width: 1024px) {
    .mySwiper .swiper-button-prev {
        left: 180px;
    }
    .mySwiper .swiper-button-next {
        right: 180px;
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*height: 100%;*/
}

.swiper-slide img {
    max-width: 80%;
    max-height: 500px;
    object-fit: contain;
    margin: auto;
    display: block;
    border-radius: 20px;
}

.choice-button {
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin: 10px 0; /* Add margin between buttons */
    text-align: center;
}

.choice-button1,
.choice-button2 {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #0a0101;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px;
    height: 50px;
    width: 70px;
}

.choice-button1 {
    transform: translateX(230%);
}

.choice-button2 {
    transform: translateX(-230%);
}

.choice-button:hover {
    background-color: #412929;
}

*, ::after {
    box-sizing: initial;
}

.timeline1, .timeline2 {
    display: flex;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px; /* Adds space between the image and the buttons */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons horizontally */
}

#home-button {
    padding: 10px 20px;
    background-color: #0a0101;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px auto;
    display: none;
    align-self: center;
}

/*Choice-text animation*/
#choice-text {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
                 0 0 20px rgba(255, 255, 255, 0.7),
                 0 0 30px rgba(255, 0, 0, 0.7),
                 0 0 40px rgba(255, 0, 0, 0.7),
                 0 0 50px rgba(255, 0, 0, 0.7),
                 0 0 60px rgba(255, 0, 0, 0.7),
                 0 0 70px rgba(255, 0, 0, 0.7);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
                     0 0 20px rgba(255, 255, 255, 0.7),
                     0 0 30px rgba(255, 0, 0, 0.7),
                     0 0 40px rgba(255, 0, 0, 0.7),
                     0 0 50px rgba(255, 0, 0, 0.7),
                     0 0 60px rgba(255, 0, 0, 0.7),
                     0 0 70px rgba(255, 0, 0, 0.7);
    }
    50% {
        transform: scale(1.1);
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
                     0 0 30px rgba(255, 255, 255, 0.7),
                     0 0 40px rgba(255, 0, 0, 0.7),
                     0 0 50px rgba(255, 0, 0, 0.7),
                     0 0 60px rgba(255, 0, 0, 0.7),
                     0 0 70px rgba(255, 0, 0, 0.7),
                     0 0 80px rgba(255, 0, 0, 0.7);
    }
    100% {
        transform: scale(1);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
                     0 0 20px rgba(255, 255, 255, 0.7),
                     0 0 30px rgba(255, 0, 0, 0.7),
                     0 0 40px rgba(255, 0, 0, 0.7),
                     0 0 50px rgba(255, 0, 0, 0.7),
                     0 0 60px rgba(255, 0, 0, 0.7),
                     0 0 70px rgba(255, 0, 0, 0.7);
    }
}

#first-slide-image {
    filter: blur(5px); /* Blur effect on the first slide image */
}

#start-button {
    padding: 20px 40px;
    background-color: #0a0101;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}




.mainHeading {
    text-align: center;
    display: block;
    padding: 20px 20px;
    font-size: 3em;
    animation: colorChange 5s linear infinite, scaleUp 5s ease-in-out infinite, backgroundMove 10s ease infinite;
    background: linear-gradient(270deg, #ff0000, #00ff00, #0000ff, #ff00ff);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainHeadingWrapper {
    background-color: white;
    padding: 20px;
    display: block;
    align-items: center;
    text-align: center;
    border-radius: 10px; 
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes colorChange {
    0% {
        color: #ff0000;
    }
    50% {
        color: #00ff00;
    }
    100% {
        color: #ff0000;
    }
}

@keyframes scaleUp {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}




